# **CREACIÓN DE TABLAS PARA PONLAR LA BASE DE DATOS** 
## PROYECTO BOOTCAMP- THE BRIDGE EQUIPO DATA


**SET DE DATOS SACADOS DE** : Informe sobre la Brecha Digital Ref.: 21053-21030-54461

**Autores**: Adán Bustos,Claudia Balderas, Sara Galán

Github: https://github.com/MetaboClaud/Emancipatic

Se crearán las siguientes tablas:

Tablas de configuración: 
* Categorías
* Nivel_estudios
* Nivel_digitalización
* Provincias

Tablas generales de aplicación:
* Usuarios
* juegos
* valoraciones_juego
* Encuesta_marketing

### Importar librerías

In [326]:
import pandas as pd
import numpy as np
import pymongo
import random
from datetime import datetime
import dateutil

#!pip install python-dateutil

## Funciones

In [327]:
#Funcion para conectar base de datos

def CargarDataframe(nombreColeccion):
    URI_CONNECTION="mongodb+srv://grupo1tripulaciones:grupo1tripulaciones@cluster0.cm9sh0x.mongodb.net/emancipatic?retryWrites=true&w=majority"
    NOMBRE_BBDD = 'emancipatic'
    cliente = pymongo.MongoClient(URI_CONNECTION)
    baseDatos = cliente[NOMBRE_BBDD]
    coleccion = baseDatos[nombreColeccion]
    dataframe = pd.DataFrame(list(coleccion.find()))
    cliente.close()
    return dataframe

In [328]:
#Funcion para obtener los id

def obtener_id(data,nombre_columna,valor):
    """ Esta función sirve para obtener el _id de la fila del dataframe de acuerdo a un valor especifico de una columna dada"""

    data= data.loc[data.loc[:,nombre_columna]== valor]  
    data= data.reset_index()
    return data.at[0,'_id']

In [329]:
#funcion fecha aleatoria
def fecha_aleatoria (inicio, fin):
    """ inicio= sera la fecha más antigua
        fin= sera la fecha actual"""
    random_date = inicio + (fin - inicio) * random.random()
    return random_date.isoformat()

In [330]:
#funcion fecha hace n años
def fecha_hace_n_anios(anios):
    fecha= datetime.now() + dateutil.relativedelta.relativedelta(years=-anios)
    return fecha

## Tabla usuarios

In [331]:
df_usuarios= pd.DataFrame()

lista_nombres=[]
lista_email=[]
lista_password=[]
lista_telefono=[]
lista_role=[]
lista_fecha_nacimiento=[]
lista_estudios=[]
lista_conocimientos_tecnologicos=[]
lista_provincia=[]
lista_categoria_intereses= []
lista_createdAt= []
lista_updatedAt= []

numero_de_filas= 2000

for i in range(numero_de_filas):
    lista_nombres.append('Nombre_'+ str(i))
    lista_email.append('email_'+ str(i) + "@email.com")
    lista_password.append('Password_'+ str(i))
    lista_role.append('user')  #preguntar Socio ?
    lista_telefono.append('telefono_'+ str(i))

df_usuarios['nombre']= lista_nombres
df_usuarios['email']= lista_email
df_usuarios['password']= lista_password
df_usuarios['telefono']= lista_telefono
df_usuarios['role']= lista_role

df_usuarios

           nombre                 email       password       telefono  role
0        Nombre_0     email_0@email.com     Password_0     telefono_0  user
1        Nombre_1     email_1@email.com     Password_1     telefono_1  user
2        Nombre_2     email_2@email.com     Password_2     telefono_2  user
3        Nombre_3     email_3@email.com     Password_3     telefono_3  user
4        Nombre_4     email_4@email.com     Password_4     telefono_4  user
...           ...                   ...            ...            ...   ...
1995  Nombre_1995  email_1995@email.com  Password_1995  telefono_1995  user
1996  Nombre_1996  email_1996@email.com  Password_1996  telefono_1996  user
1997  Nombre_1997  email_1997@email.com  Password_1997  telefono_1997  user
1998  Nombre_1998  email_1998@email.com  Password_1998  telefono_1998  user
1999  Nombre_1999  email_1999@email.com  Password_1999  telefono_1999  user

[2000 rows x 5 columns]

In [332]:
#fecha de nacimiento

#la fecha de nacimiento se calculará en base a las edades correspondientes al informe Brecha Digital

for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 74:      #este valor esta sacado de la estadística del informe Brecha Digital Ref.: 21053-21030-54461
        fecha= fecha_aleatoria(fecha_hace_n_anios(74), fecha_hace_n_anios(65))
    else:
        fecha= fecha_aleatoria(fecha_hace_n_anios(90), fecha_hace_n_anios(75))

    lista_fecha_nacimiento.append(fecha)

df_usuarios['fecha_nacimiento']= lista_fecha_nacimiento
df_usuarios

,nombre,email,password,telefono,role,fecha_nacimiento
0,Nombre_0,email_0@email.com,Password_0,telefono_0,user,1956-11-19T19:37:55.508972
1,Nombre_1,email_1@email.com,Password_1,telefono_1,user,1952-05-10T23:25:28.255733
2,Nombre_2,email_2@email.com,Password_2,telefono_2,user,1952-12-08T22:32:03.456842
3,Nombre_3,email_3@email.com,Password_3,telefono_3,user,1950-07-03T08:46:49.088701
4,Nombre_4,email_4@email.com,Password_4,telefono_4,user,1955-01-03T06:53:04.449274
...,...,...,...,...,...,...
1995,Nombre_1995,email_1995@email.com,Password_1995,telefono_1995,user,1955-08-24T07:35:23.503775
1996,Nombre_1996,email_1996@email.com,Password_1996,telefono_1996,user,1952-01-28T20:03:08.181743
1997,Nombre_1997,email_1997@email.com,Password_1997,telefono_1997,user,1955-04-24T08:00:45.411480
1998,Nombre_1998,email_1998@email.com,Password_1998,telefono_1998,user,1952-02-08T22:37:48.571707
1999,Nombre_1999,email_1999@email.com,Password_1999,telefono_1999,user,1950-03-15T22:17:22.413366

In [333]:
#ejemplo rango de tiempo 

inicio = datetime(2017, 1, 30)
fin =  datetime(2017, 5, 28)

random_date = inicio + (fin - inicio) * random.random()

print(random_date)

2017-03-26 06:08:46.908890

In [334]:
#ejemplo de cálculo años
ahora = datetime.now()
hace_dos_anios = ahora + dateutil.relativedelta.relativedelta(years=-2)
print("Hace dos años: " + str(hace_dos_anios))
print(ahora)

Hace dos años: 2020-08-02 15:10:58.508271
2022-08-02 15:10:58.508271

In [335]:
v= fecha_aleatoria(fecha_hace_n_anios(74), fecha_hace_n_anios(65))
v

'1949-03-09T20:31:41.193253'

### Tabla nivel_estudios

In [336]:
#estudios

df_estudios= CargarDataframe("nivel_estudios")
df_estudios

,_id,valor,descripcion,createdAt,updatedAt
0,62e431bae54dd6a34c831d1b,0,sin estudios,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1,62e431bae54dd6a34c831d1c,1,primaria,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
2,62e431bae54dd6a34c831d1d,2,secundaria,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
3,62e431bae54dd6a34c831d1e,3,estudios universitarios,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086

In [337]:
#probando funcion obtner id
print(obtener_id(df_estudios,'valor',3))

62e431bae54dd6a34c831d1e

In [338]:

for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 36:      #este valor esta sacado de la estadística del informe Brecha Digital Ref.: 21053-21030-54461
        estudios= obtener_id(df_estudios,'valor',3)   #codigo 3- universitarios
    elif porcentaje >= 36 and porcentaje < 64:
        estudios= obtener_id(df_estudios,'valor',2)    #codigo 2 secundarios
    
    elif porcentaje >= 64  and porcentaje < 99:
        estudios= obtener_id(df_estudios,'valor',1)    #codigo 1- primaria

    else:
        estudios= obtener_id(df_estudios,'valor',0)   #codigo 0- sin estudios

    lista_estudios.append(estudios)

df_usuarios['id_estudios']= lista_estudios

In [339]:
df_usuarios['id_estudios']

0       62e431bae54dd6a34c831d1e
1       62e431bae54dd6a34c831d1c
2       62e431bae54dd6a34c831d1e
3       62e431bae54dd6a34c831d1c
4       62e431bae54dd6a34c831d1c
                  ...
1995    62e431bae54dd6a34c831d1e
1996    62e431bae54dd6a34c831d1c
1997    62e431bae54dd6a34c831d1e
1998    62e431bae54dd6a34c831d1d
1999    62e431bae54dd6a34c831d1c
Name: id_estudios, Length: 2000, dtype: object

### Tabla nivel_digitalizacion

In [340]:
#conocimiento
df= CargarDataframe("nivel_digitalizacion")
df

,_id,valor,descripcion,createdAt,updatedAt
0,62e43138e54dd6a34c831d15,0,sin conocimientos,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1,62e43138e54dd6a34c831d16,1,bajo,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
2,62e43138e54dd6a34c831d17,2,intermedio,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
3,62e43138e54dd6a34c831d18,3,avanzado,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086

In [341]:
#nivel digitalización

for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 34:      #este valor esta sacado de la estadística del informe Brecha Digital Ref.: 21053-21030-54461
        nivel= obtener_id(df,'valor',0)    #codigo 0- No hay conocimientos
    elif porcentaje >= 34 and porcentaje < 56:
        nivel= obtener_id(df,'valor',3)    #codigo 3 avanzados
    
    elif porcentaje >= 56  and porcentaje < 70:
        nivel= obtener_id(df,'valor',2)    #codigo 2- intermedio

    else:
        nivel= obtener_id(df,'valor',1)    #codigo 1- bajo

    lista_conocimientos_tecnologicos.append(nivel)

df_usuarios['id_nivel_digitalizacion']= lista_conocimientos_tecnologicos

### Tabla provincias

In [342]:
#id_ provincia

df= CargarDataframe("provincias")
df

,_id,descripcion,createdAt,updatedAt
0,62e514db032e876acb908131,A Coruña,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1,62e514db032e876acb908132,Álava,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
2,62e514db032e876acb908133,Albacete,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
3,62e514db032e876acb908134,Alicante,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
4,62e514db032e876acb908135,Almería,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
5,62e514db032e876acb908136,Asturias,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
6,62e514db032e876acb908137,Ávila,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
7,62e514db032e876acb908138,Badajoz,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
8,62e514db032e876acb908139,Baleares,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
9,62e514db032e876acb90813a,Barcelona,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
10,62e514db032e876acb90813b,Burgos,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
11,62e514db032e876acb90813c,Cáceres,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
12,62e514db032e876acb90813d,Cádiz,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
13,62e514db032e876acb90813e,Cantabria,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
14,62e514db032e876acb90813f,Castellón,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
15,62e514db032e876acb908140,Ceuta,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
16,62e514db032e876acb908141,Ciudad Real,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
17,62e514db032e876acb908142,Córdoba,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
18,62e514db032e876acb908143,Cuenca,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
19,62e514db032e876acb908144,Girona,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
20,62e514db032e876acb908145,Granada,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
21,62e514db032e876acb908146,Guadalajara,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
22,62e514db032e876acb908147,Gipuzkoa,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
23,62e514db032e876acb908148,Huelva,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
24,62e514db032e876acb908149,Huesca,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
25,62e514db032e876acb90814a,Jaén,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
26,62e514db032e876acb90814b,La Rioja,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
27,62e514db032e876acb90814c,Las Palmas,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
28,62e514db032e876acb90814d,León,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
29,62e514db032e876acb90814e,Lérida,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
30,62e514db032e876acb90814f,Lugo,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
31,62e514db032e876acb908150,Madrid,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
32,62e514db032e876acb908151,Málaga,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
33,62e514db032e876acb908152,Melilla,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
34,62e514db032e876acb908153,Murcia,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
35,62e514db032e876acb908154,Navarra,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
36,62e514db032e876acb908155,Ourense,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
37,62e514db032e876acb908156,Palencia,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
38,62e514db032e876acb908157,Pontevedra,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
39,62e514db032e876acb908158,Salamanca,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
40,62e514db032e876acb908159,Segovia,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
41,62e514db032e876acb90815a,Sevilla,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
42,62e514db032e876acb90815b,Soria,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
43,62e514db032e876acb90815c,Santa Cruz de Tenerife,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
44,62e514db032e876acb90815d,Tarragona,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
45,62e514db032e876acb90815e,Teruel,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
46,62e514db032e876acb90815f,Toledo,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
47,62e514db032e876acb908160,Valencia,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
48,62e514db032e876acb908161,Valladolid,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
49,62e514db032e876acb908162,Vizcaya,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
50,62e514db032e876acb908163,Zamora,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
51,62e514db032e876acb908164,Zaragoza,2022-07-29 02:40:53.086,2022-07-29 02:40:53.086

In [343]:
print(obtener_id(df,'descripcion','Madrid' ))

62e514db032e876acb908150

In [344]:
#provincia

lista_provincias_1= ['Málaga','Murcia','Cádiz','Baleares','Las Palmas','Vizcaya','A Coruña','Santa Cruz de Tenerife','Asturias','Zaragoza']
lista_provincias_2= ['Pontevedra','Granada','Tarragona','Girona','Córdoba','Almería','Toledo','Gipuzkoa','Badajoz','Navarra','Jaén','Cantabria','Castellón','Huelva','Valladolid','Ciudad Real']
lista_provincias_3= ['León','Lérida','Albacete','Cáceres','Burgos','Álava','Salamanca','Lugo','La Rioja','Ourense','Guadalajara','Huesca','Cuenca','Zamora','Ávila','Palencia','Segovia','Teruel','Soria','Melilla','Ceuta']

#rellenar con el id
lista_id_provincias_1= []
lista_id_provincias_2= []
lista_id_provincias_3= []

for i in lista_provincias_1:
    lista_id_provincias_1.append(obtener_id(df,'descripcion', i))

#provincia 2

for i in lista_provincias_2:
    lista_id_provincias_2.append(obtener_id(df,'descripcion', i))

#provincia 3

for i in lista_provincias_3:
    lista_id_provincias_3.append(obtener_id(df,'descripcion', i))

In [345]:
#provincia


for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 14:      #este valor esta sacado de acuerdo al %población wikipedia
        provincia= obtener_id(df,'descripcion','Madrid' )
    elif porcentaje >=14 and porcentaje < 26:
        provincia= obtener_id(df,'descripcion','Barcelona' )
    elif porcentaje >=26 and porcentaje < 32:
        provincia= obtener_id(df,'descripcion','Valencia' )
    elif porcentaje >=32 and porcentaje < 36:
        provincia= obtener_id(df,'descripcion','Sevilla' )
    elif porcentaje >=36 and porcentaje < 40:
        provincia= obtener_id(df,'descripcion','Alicante' )
    elif porcentaje >=40 and porcentaje < 66:
        provincia= np.random.choice(lista_id_provincias_1)
    elif porcentaje >=66 and porcentaje < 89:
        provincia= np.random.choice(lista_id_provincias_2)
    else:
        provincia= np.random.choice(lista_id_provincias_3)

    lista_provincia.append(provincia)

df_usuarios['id_provincia']= lista_provincia

### Tabla Categorias

In [346]:
#categoria_intereses

df= CargarDataframe("categorias")  #solo que me de categorias
df

,_id,titulo,imagen,createdAt,updatedAt,icono
0,62e19e6b879367197aeb748a,Gestión Online,/images/gestionOnline.png,2022-07-27 20:22:03.218,2022-08-01 13:13:07.476,/images/dark_gestionOnline.svg
1,62e1a02d879367197aeb748c,Navega Seguro,/images/navegaSeguro.png,2022-07-27 20:29:33.847,2022-08-01 13:16:09.656,/images/dark_navegaSeguro.svg
2,62e1a049879367197aeb748e,Redes Sociales,/images/redesSociales.png,2022-07-27 20:30:01.497,2022-07-27 20:30:01.497,/images/dark_redesSociales.svg
3,62e1a060879367197aeb7490,Limpia tu móvil,/images/limpiaMovil.png,2022-07-27 20:30:24.842,2022-07-27 20:30:24.842,/images/dark_limpiaMovil.svg
4,62e1a08b879367197aeb7492,Llamar con video,/images/videollamada.png,2022-07-27 20:31:07.003,2022-07-27 20:31:07.003,/images/dark_videollamada.svg

In [347]:
lista_categorias_id= df['_id'].to_list()
lista_categorias_id

[ObjectId('62e19e6b879367197aeb748a'),
 ObjectId('62e1a02d879367197aeb748c'),
 ObjectId('62e1a049879367197aeb748e'),
 ObjectId('62e1a060879367197aeb7490'),
 ObjectId('62e1a08b879367197aeb7492')]

In [348]:
#estadistica
for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 40:      
        categorias= [np.random.choice(lista_categorias_id)]

    elif porcentaje >=40 and porcentaje < 80:
        categorias= random.choices(lista_categorias_id, k=2)  #k para que me de 2 categorías

    else:
        categorias= random.choices(lista_categorias_id, k=3)

    lista_categoria_intereses.append(categorias)

df_usuarios['categoria_intereses']= lista_categoria_intereses
df_usuarios.head()

,nombre,email,password,telefono,role,fecha_nacimiento,id_estudios,id_nivel_digitalizacion,id_provincia,categoria_intereses
0,Nombre_0,email_0@email.com,Password_0,telefono_0,user,1956-11-19T19:37:55.508972,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d16,62e514db032e876acb908156,"[62e1a08b879367197aeb7492, 62e1a02d879367197ae..."
1,Nombre_1,email_1@email.com,Password_1,telefono_1,user,1952-05-10T23:25:28.255733,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d18,62e514db032e876acb908160,"[62e1a060879367197aeb7490, 62e1a08b879367197ae..."
2,Nombre_2,email_2@email.com,Password_2,telefono_2,user,1952-12-08T22:32:03.456842,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d17,62e514db032e876acb908145,[62e1a08b879367197aeb7492]
3,Nombre_3,email_3@email.com,Password_3,telefono_3,user,1950-07-03T08:46:49.088701,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb90815c,[62e1a060879367197aeb7490]
4,Nombre_4,email_4@email.com,Password_4,telefono_4,user,1955-01-03T06:53:04.449274,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d15,62e514db032e876acb908150,[62e19e6b879367197aeb748a]

In [349]:
#created & update

for i in range(numero_de_filas):
    
    lista_createdAt.append('2022-07-29T02:40:53.086+00:00')
    lista_updatedAt.append('2022-07-29T02:40:53.086+00:00')

df_usuarios['createdAt']= lista_createdAt
df_usuarios['updatedAt']= lista_updatedAt

In [350]:
#Dataframe final
df_usuarios

,nombre,email,password,telefono,role,fecha_nacimiento,id_estudios,id_nivel_digitalizacion,id_provincia,categoria_intereses,createdAt,updatedAt
0,Nombre_0,email_0@email.com,Password_0,telefono_0,user,1956-11-19T19:37:55.508972,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d16,62e514db032e876acb908156,"[62e1a08b879367197aeb7492, 62e1a02d879367197ae...",2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
1,Nombre_1,email_1@email.com,Password_1,telefono_1,user,1952-05-10T23:25:28.255733,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d18,62e514db032e876acb908160,"[62e1a060879367197aeb7490, 62e1a08b879367197ae...",2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
2,Nombre_2,email_2@email.com,Password_2,telefono_2,user,1952-12-08T22:32:03.456842,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d17,62e514db032e876acb908145,[62e1a08b879367197aeb7492],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
3,Nombre_3,email_3@email.com,Password_3,telefono_3,user,1950-07-03T08:46:49.088701,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb90815c,[62e1a060879367197aeb7490],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
4,Nombre_4,email_4@email.com,Password_4,telefono_4,user,1955-01-03T06:53:04.449274,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d15,62e514db032e876acb908150,[62e19e6b879367197aeb748a],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Nombre_1995,email_1995@email.com,Password_1995,telefono_1995,user,1955-08-24T07:35:23.503775,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d16,62e514db032e876acb908150,"[62e1a08b879367197aeb7492, 62e1a060879367197ae...",2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
1996,Nombre_1996,email_1996@email.com,Password_1996,telefono_1996,user,1952-01-28T20:03:08.181743,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb90815c,[62e1a060879367197aeb7490],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
1997,Nombre_1997,email_1997@email.com,Password_1997,telefono_1997,user,1955-04-24T08:00:45.411480,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb90813e,"[62e19e6b879367197aeb748a, 62e1a02d879367197ae...",2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
1998,Nombre_1998,email_1998@email.com,Password_1998,telefono_1998,user,1952-02-08T22:37:48.571707,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d17,62e514db032e876acb908150,[62e1a049879367197aeb748e],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00
1999,Nombre_1999,email_1999@email.com,Password_1999,telefono_1999,user,1950-03-15T22:17:22.413366,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb908150,[62e1a02d879367197aeb748c],2022-07-29T02:40:53.086+00:00,2022-07-29T02:40:53.086+00:00

In [351]:
#df_usuarios.to_csv('df_usuarios.csv', index= False)

### Tabla juegos

In [352]:
# Crea Tabla juegos
df_juegos= pd.DataFrame()

lista_titulo_juego=[]
lista_nivel_juego=[]
lista_descripcion_juego=[]
lista_imagen_juego=[]
lista_instrucciones_juego=[]
lista_createdAt= []
lista_updatedAt= []

nivel= ["bajo", "medio", "alto"]

numero_de_filas= 100

for i in range(numero_de_filas):
    lista_titulo_juego.append('titulo juego_'+ str(i))
    lista_nivel_juego.append(np.random.choice(nivel))
    lista_descripcion_juego.append('Este juego trata de_'+ str(i))
    lista_imagen_juego.append('/images/juego_'+ str(i)+ '.jpg')
    lista_instrucciones_juego.append('las instrucciones del juego son...')
    lista_createdAt.append('2022-07-29T19:40:53.086+00:00')
    lista_updatedAt.append('2022-07-29T19:40:53.086+00:00')

df_juegos['titulo_juego']= lista_titulo_juego
df_juegos['nivel_juego']= lista_nivel_juego
df_juegos['descripcion_juego']= lista_descripcion_juego
df_juegos['imagen_juego']= lista_imagen_juego
df_juegos['instrucciones_juego']= lista_instrucciones_juego
df_juegos['createdAt']= lista_createdAt
df_juegos['updatedAt']= lista_updatedAt

df_juegos

,titulo_juego,nivel_juego,descripcion_juego,imagen_juego,instrucciones_juego,createdAt,updatedAt
0,titulo juego_0,medio,Este juego trata de_0,/images/juego_0.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
1,titulo juego_1,alto,Este juego trata de_1,/images/juego_1.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
2,titulo juego_2,bajo,Este juego trata de_2,/images/juego_2.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
3,titulo juego_3,alto,Este juego trata de_3,/images/juego_3.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
4,titulo juego_4,bajo,Este juego trata de_4,/images/juego_4.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
...,...,...,...,...,...,...,...
95,titulo juego_95,medio,Este juego trata de_95,/images/juego_95.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
96,titulo juego_96,medio,Este juego trata de_96,/images/juego_96.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
97,titulo juego_97,alto,Este juego trata de_97,/images/juego_97.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
98,titulo juego_98,bajo,Este juego trata de_98,/images/juego_98.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00
99,titulo juego_99,alto,Este juego trata de_99,/images/juego_99.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00

In [353]:
#Rellenar campo categorias de la tabla "juegos". El contenido del campo es una lista-Objectid correspondiente a los id de los registros de la tabla categorias 
# 1. Obtener datos de la tabla "categorias" (tabla config)
df= CargarDataframe("categorias")
df

,_id,titulo,imagen,createdAt,updatedAt,icono
0,62e19e6b879367197aeb748a,Gestión Online,/images/gestionOnline.png,2022-07-27 20:22:03.218,2022-08-01 13:13:07.476,/images/dark_gestionOnline.svg
1,62e1a02d879367197aeb748c,Navega Seguro,/images/navegaSeguro.png,2022-07-27 20:29:33.847,2022-08-01 13:16:09.656,/images/dark_navegaSeguro.svg
2,62e1a049879367197aeb748e,Redes Sociales,/images/redesSociales.png,2022-07-27 20:30:01.497,2022-07-27 20:30:01.497,/images/dark_redesSociales.svg
3,62e1a060879367197aeb7490,Limpia tu móvil,/images/limpiaMovil.png,2022-07-27 20:30:24.842,2022-07-27 20:30:24.842,/images/dark_limpiaMovil.svg
4,62e1a08b879367197aeb7492,Llamar con video,/images/videollamada.png,2022-07-27 20:31:07.003,2022-07-27 20:31:07.003,/images/dark_videollamada.svg

In [354]:
# 2. genererar una lista de la columna _id
lista_categorias_id= df['_id'].to_list()
lista_categorias_id

[ObjectId('62e19e6b879367197aeb748a'),
 ObjectId('62e1a02d879367197aeb748c'),
 ObjectId('62e1a049879367197aeb748e'),
 ObjectId('62e1a060879367197aeb7490'),
 ObjectId('62e1a08b879367197aeb7492')]

In [355]:
# 3. Como cada juego puede estar asociado a 1 o más categorías , se pobla la tabla de manera aleatoria(asignando máximo 3 cateorias por juego)

lista_categorias= []

for i in range(numero_de_filas):
    porcentaje = np.random.randint(100)

    if porcentaje < 60:      #60% tendra una única categoría
        categorias= [np.random.choice(lista_categorias_id)]

    elif porcentaje >=60 and porcentaje < 90:
        categorias= random.choices(lista_categorias_id, k=2)  #para que me de 2 categorías

    else:
        categorias= random.choices(lista_categorias_id, k=3)  # para que me de 3 categorias

    lista_categorias.append(categorias)  #rellenar la lista vacia 

df_juegos['categorias']= lista_categorias  #asignar los resultados a la columna categorias

In [356]:
df_juegos.head()

,titulo_juego,nivel_juego,descripcion_juego,imagen_juego,instrucciones_juego,createdAt,updatedAt,categorias
0,titulo juego_0,medio,Este juego trata de_0,/images/juego_0.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00,"[62e1a049879367197aeb748e, 62e1a08b879367197ae..."
1,titulo juego_1,alto,Este juego trata de_1,/images/juego_1.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00,[62e1a02d879367197aeb748c]
2,titulo juego_2,bajo,Este juego trata de_2,/images/juego_2.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00,[62e1a08b879367197aeb7492]
3,titulo juego_3,alto,Este juego trata de_3,/images/juego_3.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00,[62e1a049879367197aeb748e]
4,titulo juego_4,bajo,Este juego trata de_4,/images/juego_4.jpg,las instrucciones del juego son...,2022-07-29T19:40:53.086+00:00,2022-07-29T19:40:53.086+00:00,[62e1a060879367197aeb7490]

### Tabla valoraciones_juego

In [357]:
# 1. Obtener datos de la tabla "usuarios" 
df= CargarDataframe("usuarios") #cargar la coleccion usuarios
df

,_id,nombre,email,password,telefono,role,fecha_nacimiento,id_estudios,id_nivel_digitalizacion,id_provincia,categoria_intereses,createdAt,updatedAt
0,62e562fe032e876acb908167,Yann Poirot,yann@gmail.com,$2a$10$5RKqj3d8V7LHYQCp8vHm4.UP3n50jdRHw9ykwNN...,345678965,user,1952-10-29 22:18:27.844,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb908150,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1,62e562fe032e876acb908168,Elena Radu,elena@gmail.com,$2a$10$uHjUnTHn61JUqT4dQYzzyeiYBn.OZWcSneQxzTO...,345678965,user,1952-02-03 21:21:06.681,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb908150,[ObjectId('62e1a060879367197aeb7490')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
2,62e562fe032e876acb908169,Anibal Montero,anibal@gmail.com,$2a$10$.sS3R1YkDvNW78pTd.3yuu6YfzQgIUkdpq5Kk42...,111111111,user,1962-09-08 09:04:56.864,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908132,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
3,62e562fe032e876acb90816a,Nombre_3,email_3@email.com,Password_3,telefono_3,user,1939-09-12 07:59:39.639,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb90813a,"[ObjectId('62e1a02d879367197aeb748c'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
4,62e562fe032e876acb90816b,Nombre_4,email_4@email.com,Password_4,telefono_4,user,1944-08-27 09:54:23.868,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908144,"[ObjectId('62e1a049879367197aeb748e'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,62e562ff032e876acb908932,Nombre_1995,email_1995@email.com,Password_1995,telefono_1995,user,1954-04-12 03:56:50.659,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb90813a,"[ObjectId('62e19e6b879367197aeb748a'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1996,62e562ff032e876acb908933,Nombre_1996,email_1996@email.com,Password_1996,telefono_1996,user,1944-07-17 06:57:23.258,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d16,62e514db032e876acb908139,"[ObjectId('62e1a02d879367197aeb748c'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1997,62e562ff032e876acb908934,Nombre_1997,email_1997@email.com,Password_1997,telefono_1997,user,1948-08-31 03:01:50.036,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d16,62e514db032e876acb908144,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1998,62e562ff032e876acb908935,Nombre_1998,email_1998@email.com,Password_1998,telefono_1998,user,1949-01-28 09:24:36.687,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908136,[ObjectId('62e1a049879367197aeb748e')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1999,62e562ff032e876acb908936,Nombre_1999,email_1999@email.com,Password_1999,telefono_1999,user,1938-08-29 03:45:24.297,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d16,62e514db032e876acb90813a,"[ObjectId('62e1a08b879367197aeb7492'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086

In [358]:
# 2. genererar una lista de la columna _id
lista_usuarios_id= df['_id'].to_list()

In [359]:
# 3. obtener datos de la tabla "juegos" 
df= CargarDataframe("juegos") #cargar la coleccion juegos
df

,_id,titulo_juego,nivel_juego,descripcion_juego,imagen_juego,instrucciones_juego,createdAt,updatedAt,categorias,promedio_valoracion
0,62e434e6e54dd6a34c831d21,titulo juego_0,alto,Este juego trata de_0,/images/juego_0.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e1a060879367197aeb7490'), ObjectI...",1.024390
1,62e434e6e54dd6a34c831d22,titulo juego_1,medio,Este juego trata de_1,/images/juego_1.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,[ObjectId('62e1a060879367197aeb7490')],1.050691
2,62e434e6e54dd6a34c831d23,titulo juego_2,medio,Este juego trata de_2,/images/juego_2.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,[ObjectId('62e1a049879367197aeb748e')],1.030612
3,62e434e6e54dd6a34c831d24,titulo juego_3,medio,Este juego trata de_3,/images/juego_3.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e1a02d879367197aeb748c'), ObjectI...",0.928571
4,62e434e6e54dd6a34c831d25,Detecta el Phishing,bajo,Aprende a identificar estafas online,/images/detectaElPhishing.png,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-08-02 11:39:12.627,"[ObjectId('62e1a049879367197aeb748e'), ObjectI...",0.917127
...,...,...,...,...,...,...,...,...,...,...
95,62e434e6e54dd6a34c831d80,titulo juego_95,bajo,Este juego trata de_95,/images/juego_95.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e1a060879367197aeb7490'), ObjectI...",1.088235
96,62e434e6e54dd6a34c831d81,titulo juego_96,medio,Este juego trata de_96,/images/juego_96.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,[ObjectId('62e1a02d879367197aeb748c')],1.018692
97,62e434e6e54dd6a34c831d82,titulo juego_97,medio,Este juego trata de_97,/images/juego_97.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e1a060879367197aeb7490'), ObjectI...",1.038889
98,62e434e6e54dd6a34c831d83,titulo juego_98,medio,Este juego trata de_98,/images/juego_98.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e1a049879367197aeb748e'), ObjectI...",1.056122
99,62e434e6e54dd6a34c831d84,titulo juego_99,alto,Este juego trata de_99,/images/juego_99.jpg,las instrucciones del juego son...,2022-07-29 19:40:53.086,2022-07-29 19:40:53.086,"[ObjectId('62e19e6b879367197aeb748a'), ObjectI...",0.970588

In [360]:
# 4. generar una lista de la columna _id
lista_juegos_id= df['_id'].to_list()

In [361]:
# 5. Obtener campos tabla valoraciones_juego

df_valoraciones_juego= pd.DataFrame()

for id_usuario in lista_usuarios_id:     
    num_juegos_valorar= np.random.randint(20)    #cuantos juegos va a valorar el usuario(1-20)
    lista_juegos_valorar=random.choices(lista_juegos_id, k= num_juegos_valorar)   #creamos una lista con los id de los juegos a valorar
    for id_juego in lista_juegos_valorar:
        puntuacion_juego= np.random.randint(3)  #puntuación 0-3
        fecha_aleat= fecha_aleatoria(fecha_hace_n_anios(1), datetime.now())  #se usaron las funciones creadas al principio
        nueva_fila= {'id_usuario':id_usuario, 'id_juego': id_juego, 'valoracion':puntuacion_juego, 'createdAt': fecha_aleat, 'updateAt':fecha_aleat}
        df_valoraciones_juego= df_valoraciones_juego.append(nueva_fila, ignore_index= True)  #creando una fila de la tabla entera

In [362]:
df_valoraciones_juego

,id_usuario,id_juego,valoracion,createdAt,updateAt
0,62e562fe032e876acb908167,62e434e6e54dd6a34c831d3b,2.0,2021-09-16T18:30:35.949204,2021-09-16T18:30:35.949204
1,62e562fe032e876acb908167,62e434e6e54dd6a34c831d6d,1.0,2021-10-27T03:25:07.232926,2021-10-27T03:25:07.232926
2,62e562fe032e876acb908167,62e434e6e54dd6a34c831d70,2.0,2022-02-09T23:47:22.143762,2022-02-09T23:47:22.143762
3,62e562fe032e876acb908167,62e434e6e54dd6a34c831d42,1.0,2022-07-04T11:19:51.187169,2022-07-04T11:19:51.187169
4,62e562fe032e876acb908167,62e434e6e54dd6a34c831d7b,2.0,2022-05-30T14:53:43.127647,2022-05-30T14:53:43.127647
...,...,...,...,...,...
19105,62e562ff032e876acb908936,62e434e6e54dd6a34c831d4a,0.0,2022-04-18T05:08:52.643928,2022-04-18T05:08:52.643928
19106,62e562ff032e876acb908936,62e434e6e54dd6a34c831d36,0.0,2022-02-04T17:09:00.701829,2022-02-04T17:09:00.701829
19107,62e562ff032e876acb908936,62e434e6e54dd6a34c831d5d,1.0,2022-01-09T16:30:48.626116,2022-01-09T16:30:48.626116
19108,62e562ff032e876acb908936,62e434e6e54dd6a34c831d66,1.0,2021-10-08T19:55:14.274142,2021-10-08T19:55:14.274142
19109,62e562ff032e876acb908936,62e434e6e54dd6a34c831d73,2.0,2022-06-01T11:38:50.607123,2022-06-01T11:38:50.607123

In [363]:
test= df_valoraciones_juego.loc[df_valoraciones_juego.loc[:,'valoracion']== 2]  # test para ver % de datos con valoracion 2 por ejemplo

### Añadido puntuación media

In [364]:
df= CargarDataframe('valoraciones_juego')
df

,_id,id_usuario,id_juego,valoracion,createdAt,updateAt
0,62e6775298a336df671ab528,62e562fe032e876acb908167,62e434e6e54dd6a34c831d34,1,2022-07-05 23:42:57.416,2022-07-05 23:42:57.416
1,62e6775298a336df671ab529,62e562fe032e876acb908167,62e434e6e54dd6a34c831d3f,1,2021-09-02 05:40:29.408,2021-09-02 05:40:29.408
2,62e6775298a336df671ab52a,62e562fe032e876acb908167,62e434e6e54dd6a34c831d47,1,2022-07-17 10:11:04.331,2022-07-17 10:11:04.331
3,62e6775298a336df671ab52b,62e562fe032e876acb908167,62e434e6e54dd6a34c831d73,2,2021-11-17 23:09:38.524,2021-11-17 23:09:38.524
4,62e6775298a336df671ab52c,62e562fe032e876acb908167,62e434e6e54dd6a34c831d5e,1,2022-01-25 00:44:30.867,2022-01-25 00:44:30.867
...,...,...,...,...,...,...
19558,62e6775698a336df671b018e,62e562ff032e876acb908936,62e434e6e54dd6a34c831d83,2,2021-09-23 11:44:36.819,2021-09-23 11:44:36.819
19559,62e6775698a336df671b018f,62e562ff032e876acb908936,62e434e6e54dd6a34c831d3b,1,2022-04-01 20:50:15.313,2022-04-01 20:50:15.313
19560,62e6775698a336df671b0190,62e562ff032e876acb908936,62e434e6e54dd6a34c831d47,2,2021-10-04 07:12:13.628,2021-10-04 07:12:13.628
19561,62e6775698a336df671b0191,62e562ff032e876acb908936,62e434e6e54dd6a34c831d3f,1,2022-05-09 19:52:31.247,2022-05-09 19:52:31.247
19562,62e6775698a336df671b0192,62e562ff032e876acb908936,62e434e6e54dd6a34c831d76,1,2022-01-10 16:16:43.997,2022-01-10 16:16:43.997

In [365]:
df= df.drop(['_id', 'id_usuario', 'createdAt', 'updateAt'], axis=1)
df

                       id_juego  valoracion
0      62e434e6e54dd6a34c831d34           1
1      62e434e6e54dd6a34c831d3f           1
2      62e434e6e54dd6a34c831d47           1
3      62e434e6e54dd6a34c831d73           2
4      62e434e6e54dd6a34c831d5e           1
...                         ...         ...
19558  62e434e6e54dd6a34c831d83           2
19559  62e434e6e54dd6a34c831d3b           1
19560  62e434e6e54dd6a34c831d47           2
19561  62e434e6e54dd6a34c831d3f           1
19562  62e434e6e54dd6a34c831d76           1

[19563 rows x 2 columns]

In [366]:
#ver juegos unicos
test= df['id_juego'].unique().size
test

100

In [367]:
df= df.groupby(['id_juego'], as_index=False).mean() #sacar el promedio de la valoración (ranking)
df

                    id_juego  valoracion
0   62e434e6e54dd6a34c831d21    1.024390
1   62e434e6e54dd6a34c831d22    1.050691
2   62e434e6e54dd6a34c831d23    1.030612
3   62e434e6e54dd6a34c831d24    0.928571
4   62e434e6e54dd6a34c831d25    0.917127
..                       ...         ...
95  62e434e6e54dd6a34c831d80    1.088235
96  62e434e6e54dd6a34c831d81    1.018692
97  62e434e6e54dd6a34c831d82    1.038889
98  62e434e6e54dd6a34c831d83    1.056122
99  62e434e6e54dd6a34c831d84    0.970588

[100 rows x 2 columns]

In [368]:
#crear funcion actualizar registro en base de datos
def actualizar_datos_registro(nombreColeccion, id, nuevo_campo, valor_nuevo_campo):
    URI_CONNECTION="mongodb+srv://grupo1tripulaciones:grupo1tripulaciones@cluster0.cm9sh0x.mongodb.net/emancipatic?retryWrites=true&w=majority"
    NOMBRE_BBDD = 'emancipatic'
    cliente = pymongo.MongoClient(URI_CONNECTION)
    baseDatos = cliente[NOMBRE_BBDD]
    coleccion = baseDatos[nombreColeccion]
    myquery = { "_id": id }
    newvalues = { "$set": { nuevo_campo: valor_nuevo_campo} }
    coleccion.update_one(myquery,newvalues)
    cliente.close()

In [369]:
for i in df.index:
    id_juego= df['id_juego'][i]
    promedio_valoracion= df['valoracion'][i]
    actualizar_datos_registro('juegos', id_juego, 'promedio_valoracion', promedio_valoracion)

### Tabla encuesta_marketing

In [370]:
# 1. Obtener datos de la tabla "usuarios" 
df= CargarDataframe("usuarios") #cargar la coleccion usuarios
df

,_id,nombre,email,password,telefono,role,fecha_nacimiento,id_estudios,id_nivel_digitalizacion,id_provincia,categoria_intereses,createdAt,updatedAt
0,62e562fe032e876acb908167,Yann Poirot,yann@gmail.com,$2a$10$5RKqj3d8V7LHYQCp8vHm4.UP3n50jdRHw9ykwNN...,345678965,user,1952-10-29 22:18:27.844,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb908150,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1,62e562fe032e876acb908168,Elena Radu,elena@gmail.com,$2a$10$uHjUnTHn61JUqT4dQYzzyeiYBn.OZWcSneQxzTO...,345678965,user,1952-02-03 21:21:06.681,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb908150,[ObjectId('62e1a060879367197aeb7490')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
2,62e562fe032e876acb908169,Anibal Montero,anibal@gmail.com,$2a$10$.sS3R1YkDvNW78pTd.3yuu6YfzQgIUkdpq5Kk42...,111111111,user,1962-09-08 09:04:56.864,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908132,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
3,62e562fe032e876acb90816a,Nombre_3,email_3@email.com,Password_3,telefono_3,user,1939-09-12 07:59:39.639,62e431bae54dd6a34c831d1c,62e43138e54dd6a34c831d16,62e514db032e876acb90813a,"[ObjectId('62e1a02d879367197aeb748c'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
4,62e562fe032e876acb90816b,Nombre_4,email_4@email.com,Password_4,telefono_4,user,1944-08-27 09:54:23.868,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908144,"[ObjectId('62e1a049879367197aeb748e'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,62e562ff032e876acb908932,Nombre_1995,email_1995@email.com,Password_1995,telefono_1995,user,1954-04-12 03:56:50.659,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d18,62e514db032e876acb90813a,"[ObjectId('62e19e6b879367197aeb748a'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1996,62e562ff032e876acb908933,Nombre_1996,email_1996@email.com,Password_1996,telefono_1996,user,1944-07-17 06:57:23.258,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d16,62e514db032e876acb908139,"[ObjectId('62e1a02d879367197aeb748c'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1997,62e562ff032e876acb908934,Nombre_1997,email_1997@email.com,Password_1997,telefono_1997,user,1948-08-31 03:01:50.036,62e431bae54dd6a34c831d1d,62e43138e54dd6a34c831d16,62e514db032e876acb908144,[ObjectId('62e1a02d879367197aeb748c')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1998,62e562ff032e876acb908935,Nombre_1998,email_1998@email.com,Password_1998,telefono_1998,user,1949-01-28 09:24:36.687,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d15,62e514db032e876acb908136,[ObjectId('62e1a049879367197aeb748e')],2022-07-29 02:40:53.086,2022-07-29 02:40:53.086
1999,62e562ff032e876acb908936,Nombre_1999,email_1999@email.com,Password_1999,telefono_1999,user,1938-08-29 03:45:24.297,62e431bae54dd6a34c831d1e,62e43138e54dd6a34c831d16,62e514db032e876acb90813a,"[ObjectId('62e1a08b879367197aeb7492'), ObjectI...",2022-07-29 02:40:53.086,2022-07-29 02:40:53.086

In [371]:
# 2. generar una lista de la columna _id
lista_usuarios_id= df['_id'].to_list()
lista_encuestados_id= random.choices(lista_usuarios_id, k=round(len(lista_usuarios_id) * (0.6)))  #en el supuesto que estamos entrevistando al 60 % que tenga la lista
lista_encuestados_id

[ObjectId('62e562ff032e876acb9086f9'),
 ObjectId('62e562fe032e876acb90846e'),
 ObjectId('62e562ff032e876acb9087f3'),
 ObjectId('62e562ff032e876acb90862f'),
 ObjectId('62e562ff032e876acb908660'),
 ObjectId('62e562ff032e876acb90864c'),
 ObjectId('62e562ff032e876acb908888'),
 ObjectId('62e562ff032e876acb90867b'),
 ObjectId('62e562fe032e876acb9083fa'),
 ObjectId('62e562fe032e876acb9082f6'),
 ObjectId('62e562fe032e876acb908520'),
 ObjectId('62e562ff032e876acb90889f'),
 ObjectId('62e562fe032e876acb90826e'),
 ObjectId('62e562ff032e876acb9086ec'),
 ObjectId('62e562fe032e876acb908535'),
 ObjectId('62e562ff032e876acb908779'),
 ObjectId('62e562fe032e876acb9082f3'),
 ObjectId('62e562ff032e876acb9087e5'),
 ObjectId('62e562fe032e876acb908500'),
 ObjectId('62e562ff032e876acb908813'),
 ObjectId('62e562ff032e876acb90868f'),
 ObjectId('62e562fe032e876acb9083f2'),
 ObjectId('62e562ff032e876acb9087ff'),
 ObjectId('62e562fe032e876acb9082d4'),
 ObjectId('62e562ff032e876acb90867a'),
 ObjectId('62e562fe032e876acb908300'),
 ObjectId('62e562ff032e876acb9086e1'),
 ObjectId('62e562ff032e876acb9085fe'),
 ObjectId('62e562fe032e876acb9083a9'),
 ObjectId('62e562ff032e876acb9088ca'),
 ObjectId('62e562ff032e876acb908735'),
 ObjectId('62e562ff032e876acb908775'),
 ObjectId('62e562fe032e876acb908393'),
 ObjectId('62e562fe032e876acb90843a'),
 ObjectId('62e562ff032e876acb908560'),
 ObjectId('62e562ff032e876acb908623'),
 ObjectId('62e562fe032e876acb908319'),
 ObjectId('62e562ff032e876acb9086af'),
 ObjectId('62e562ff032e876acb9088b0'),
 ObjectId('62e562fe032e876acb9082f6'),
 ObjectId('62e562fe032e876acb9081de'),
 ObjectId('62e562fe032e876acb908515'),
 ObjectId('62e562ff032e876acb908559'),
 ObjectId('62e562ff032e876acb908812'),
 ObjectId('62e562fe032e876acb908470'),
 ObjectId('62e562fe032e876acb9084c3'),
 ObjectId('62e562ff032e876acb908778'),
 ObjectId('62e562ff032e876acb908650'),
 ObjectId('62e562fe032e876acb908173'),
 ObjectId('62e562fe032e876acb9083a5'),
 ObjectId('62e562ff032e876acb90869b'),
 ObjectId('62e562fe032e876acb90853a'),
 ObjectId('62e562ff032e876acb908879'),
 ObjectId('62e562ff032e876acb90868a'),
 ObjectId('62e562ff032e876acb908920'),
 ObjectId('62e562ff032e876acb9088bd'),
 ObjectId('62e562ff032e876acb908652'),
 ObjectId('62e562fe032e876acb9082e6'),
 ObjectId('62e562fe032e876acb908189'),
 ObjectId('62e562fe032e876acb908494'),
 ObjectId('62e562fe032e876acb90838f'),
 ObjectId('62e562ff032e876acb90860a'),
 ObjectId('62e562fe032e876acb90839a'),
 ObjectId('62e562fe032e876acb90824d'),
 ObjectId('62e562fe032e876acb908292'),
 ObjectId('62e562ff032e876acb908697'),
 ObjectId('62e562fe032e876acb90846f'),
 ObjectId('62e562ff032e876acb908633'),
 ObjectId('62e562ff032e876acb9085f8'),
 ObjectId('62e562ff032e876acb90859a'),
 ObjectId('62e562fe032e876acb908459'),
 ObjectId('62e562fe032e876acb90816c'),
 ObjectId('62e562fe032e876acb9081a2'),
 ObjectId('62e562ff032e876acb9088e0'),
 ObjectId('62e562fe032e876acb9081b8'),
 ObjectId('62e562fe032e876acb908375'),
 ObjectId('62e562ff032e876acb908918'),
 ObjectId('62e562ff032e876acb9086c6'),
 ObjectId('62e562fe032e876acb90820c'),
 ObjectId('62e562ff032e876acb90860e'),
 ObjectId('62e562ff032e876acb9085a1'),
 ObjectId('62e562ff032e876acb90890e'),
 ObjectId('62e562ff032e876acb908592'),
 ObjectId('62e562ff032e876acb90879a'),
 ObjectId('62e562ff032e876acb90870c'),
 ObjectId('62e562fe032e876acb90824e'),
 ObjectId('62e562fe032e876acb9083e8'),
 ObjectId('62e562ff032e876acb90864b'),
 ObjectId('62e562fe032e876acb9083df'),
 ObjectId('62e562ff032e876acb9088eb'),
 ObjectId('62e562fe032e876acb90840b'),
 ObjectId('62e562ff032e876acb90873e'),
 ObjectId('62e562fe032e876acb908434'),
 ObjectId('62e562ff032e876acb908789'),
 ObjectId('62e562fe032e876acb90845b'),
 ObjectId('62e562ff032e876acb9088cc'),
 ObjectId('62e562ff032e876acb908861'),
 ObjectId('62e562fe032e876acb90832a'),
 ObjectId('62e562ff032e876acb9086df'),
 ObjectId('62e562fe032e876acb9083d8'),
 ObjectId('62e562ff032e876acb908661'),
 ObjectId('62e562fe032e876acb9082cc'),
 ObjectId('62e562ff032e876acb90875d'),
 ObjectId('62e562ff032e876acb90863e'),
 ObjectId('62e562ff032e876acb9088be'),
 ObjectId('62e562fe032e876acb90820f'),
 ObjectId('62e562fe032e876acb9082ea'),
 ObjectId('62e562ff032e876acb908559'),
 ObjectId('62e562ff032e876acb908807'),
 ObjectId('62e562ff032e876acb908787'),
 ObjectId('62e562ff032e876acb9085b5'),
 ObjectId('62e562fe032e876acb9082ed'),
 ObjectId('62e562ff032e876acb908748'),
 ObjectId('62e562fe032e876acb90830e'),
 ObjectId('62e562fe032e876acb908480'),
 ObjectId('62e562fe032e876acb908484'),
 ObjectId('62e562ff032e876acb9085f0'),
 ObjectId('62e562fe032e876acb9082fe'),
 ObjectId('62e562fe032e876acb90825f'),
 ObjectId('62e562fe032e876acb90819e'),
 ObjectId('62e562ff032e876acb9085d1'),
 ObjectId('62e562fe032e876acb9082a9'),
 ObjectId('62e562fe032e876acb90828a'),
 ObjectId('62e562ff032e876acb9088f6'),
 ObjectId('62e562fe032e876acb908316'),
 ObjectId('62e562fe032e876acb9082f1'),
 ObjectId('62e562ff032e876acb908766'),
 ObjectId('62e562ff032e876acb9085ec'),
 ObjectId('62e562fe032e876acb9082f0'),
 ObjectId('62e562ff032e876acb90863b'),
 ObjectId('62e562fe032e876acb9082c7'),
 ObjectId('62e562fe032e876acb9083f5'),
 ObjectId('62e562fe032e876acb908179'),
 ObjectId('62e562ff032e876acb9088d5'),
 ObjectId('62e562ff032e876acb90888f'),
 ObjectId('62e562fe032e876acb908341'),
 ObjectId('62e562ff032e876acb908924'),
 ObjectId('62e562ff032e876acb90869f'),
 ObjectId('62e562fe032e876acb908298'),
 ObjectId('62e562fe032e876acb90839e'),
 ObjectId('62e562fe032e876acb9084bd'),
 ObjectId('62e562ff032e876acb90864a'),
 ObjectId('62e562fe032e876acb9082c8'),
 ObjectId('62e562ff032e876acb9085ff'),
 ObjectId('62e562ff032e876acb90892a'),
 ObjectId('62e562fe032e876acb9083da'),
 ObjectId('62e562fe032e876acb9081e0'),
 ObjectId('62e562ff032e876acb908581'),
 ObjectId('62e562ff032e876acb908752'),
 ObjectId('62e562fe032e876acb908359'),
 ObjectId('62e562ff032e876acb9085d3'),
 ObjectId('62e562ff032e876acb9086dd'),
 ObjectId('62e562fe032e876acb90822e'),
 ObjectId('62e562ff032e876acb908823'),
 ObjectId('62e562fe032e876acb908533'),
 ObjectId('62e562fe032e876acb9081ed'),
 ObjectId('62e562fe032e876acb90841b'),
 ObjectId('62e562ff032e876acb9086c4'),
 ObjectId('62e562ff032e876acb9086a1'),
 ObjectId('62e562fe032e876acb908421'),
 ObjectId('62e562ff032e876acb908906'),
 ObjectId('62e562ff032e876acb9086d1'),
 ObjectId('62e562fe032e876acb9084a4'),
 ObjectId('62e562ff032e876acb908793'),
 ObjectId('62e562fe032e876acb908222'),
 ObjectId('62e562ff032e876acb9086cc'),
 ObjectId('62e562fe032e876acb908524'),
 ObjectId('62e562fe032e876acb9081e8'),
 ObjectId('62e562fe032e876acb9083bc'),
 ObjectId('62e562ff032e876acb90880d'),
 ObjectId('62e562fe032e876acb9084d1'),
 ObjectId('62e562fe032e876acb908445'),
 ObjectId('62e562fe032e876acb908537'),
 ObjectId('62e562ff032e876acb9087db'),
 ObjectId('62e562ff032e876acb9085b8'),
 ObjectId('62e562fe032e876acb90838a'),
 ObjectId('62e562ff032e876acb908565'),
 ObjectId('62e562fe032e876acb90821b'),
 ObjectId('62e562fe032e876acb9081cf'),
 ObjectId('62e562ff032e876acb9085a7'),
 ObjectId('62e562ff032e876acb908645'),
 ObjectId('62e562ff032e876acb90857b'),
 ObjectId('62e562ff032e876acb9086e5'),
 ObjectId('62e562fe032e876acb90837d'),
 ObjectId('62e562ff032e876acb9087fe'),
 ObjectId('62e562fe032e876acb908363'),
 ObjectId('62e562fe032e876acb9082b5'),
 ObjectId('62e562fe032e876acb9084c3'),
 ObjectId('62e562fe032e876acb90851b'),
 ObjectId('62e562fe032e876acb908253'),
 ObjectId('62e562fe032e876acb908518'),
 ObjectId('62e562fe032e876acb908432'),
 ObjectId('62e562ff032e876acb90884d'),
 ObjectId('62e562ff032e876acb908598'),
 ObjectId('62e562fe032e876acb908214'),
 ObjectId('62e562fe032e876acb9081c9'),
 ObjectId('62e562ff032e876acb908578'),
 ObjectId('62e562fe032e876acb908259'),
 ObjectId('62e562fe032e876acb9082c7'),
 ObjectId('62e562fe032e876acb908265'),
 ObjectId('62e562ff032e876acb90892c'),
 ObjectId('62e562fe032e876acb908428'),
 ObjectId('62e562ff032e876acb90882a'),
 ObjectId('62e562fe032e876acb9081a3'),
 ObjectId('62e562fe032e876acb908451'),
 ObjectId('62e562ff032e876acb90885c'),
 ObjectId('62e562ff032e876acb908727'),
 ObjectId('62e562fe032e876acb90820d'),
 ObjectId('62e562ff032e876acb90890f'),
 ObjectId('62e562ff032e876acb908808'),
 ObjectId('62e562ff032e876acb908695'),
 ObjectId('62e562ff032e876acb90864f'),
 ObjectId('62e562fe032e876acb90836b'),
 ObjectId('62e562ff032e876acb9087ba'),
 ObjectId('62e562fe032e876acb9082c5'),
 ObjectId('62e562fe032e876acb9082ee'),
 ObjectId('62e562fe032e876acb908189'),
 ObjectId('62e562fe032e876acb90836f'),
 ObjectId('62e562ff032e876acb908674'),
 ObjectId('62e562ff032e876acb908833'),
 ObjectId('62e562ff032e876acb908646'),
 ObjectId('62e562fe032e876acb908515'),
 ObjectId('62e562fe032e876acb90831e'),
 ObjectId('62e562fe032e876acb908210'),
 ObjectId('62e562fe032e876acb908333'),
 ObjectId('62e562ff032e876acb9087a9'),
 ObjectId('62e562fe032e876acb908245'),
 ObjectId('62e562fe032e876acb908275'),
 ObjectId('62e562ff032e876acb90859b'),
 ObjectId('62e562ff032e876acb9086c1'),
 ObjectId('62e562ff032e876acb9088ad'),
 ObjectId('62e562fe032e876acb9084af'),
 ObjectId('62e562ff032e876acb908645'),
 ObjectId('62e562fe032e876acb90847e'),
 ObjectId('62e562fe032e876acb9082c5'),
 ObjectId('62e562fe032e876acb90817f'),
 ObjectId('62e562fe032e876acb9081bd'),
 ObjectId('62e562ff032e876acb908564'),
 ObjectId('62e562ff032e876acb908905'),
 ObjectId('62e562ff032e876acb90872f'),
 ObjectId('62e562ff032e876acb9085b3'),
 ObjectId('62e562fe032e876acb9083d8'),
 ObjectId('62e562ff032e876acb90880b'),
 ObjectId('62e562ff032e876acb90879b'),
 ObjectId('62e562fe032e876acb908236'),
 ObjectId('62e562ff032e876acb908734'),
 ObjectId('62e562ff032e876acb908560'),
 ObjectId('62e562ff032e876acb908826'),
 ObjectId('62e562fe032e876acb908445'),
 ObjectId('62e562fe032e876acb90842d'),
 ObjectId('62e562fe032e876acb9084c5'),
 ObjectId('62e562ff032e876acb90856a'),
 ObjectId('62e562fe032e876acb9084ac'),
 ObjectId('62e562fe032e876acb90836b'),
 ObjectId('62e562ff032e876acb908558'),
 ObjectId('62e562fe032e876acb908185'),
 ObjectId('62e562ff032e876acb9086c9'),
 ObjectId('62e562fe032e876acb90821a'),
 ObjectId('62e562ff032e876acb9086da'),
 ObjectId('62e562ff032e876acb908679'),
 ObjectId('62e562ff032e876acb908786'),
 ObjectId('62e562fe032e876acb90826f'),
 ObjectId('62e562ff032e876acb908888'),
 ObjectId('62e562ff032e876acb90869b'),
 ObjectId('62e562ff032e876acb9088e8'),
 ObjectId('62e562fe032e876acb9082e4'),
 ObjectId('62e562fe032e876acb9082d1'),
 ObjectId('62e562fe032e876acb9082bd'),
 ObjectId('62e562fe032e876acb9081df'),
 ObjectId('62e562fe032e876acb908264'),
 ObjectId('62e562fe032e876acb90852b'),
 ObjectId('62e562fe032e876acb9082fc'),
 ObjectId('62e562fe032e876acb9084f4'),
 ObjectId('62e562fe032e876acb90833b'),
 ObjectId('62e562ff032e876acb908579'),
 ObjectId('62e562fe032e876acb9084c8'),
 ObjectId('62e562ff032e876acb908783'),
 ObjectId('62e562fe032e876acb90819f'),
 ObjectId('62e562ff032e876acb9085e5'),
 ObjectId('62e562ff032e876acb90856c'),
 ObjectId('62e562fe032e876acb908525'),
 ObjectId('62e562ff032e876acb908830'),
 ObjectId('62e562fe032e876acb9083d5'),
 ObjectId('62e562ff032e876acb9088c2'),
 ObjectId('62e562fe032e876acb9083d3'),
 ObjectId('62e562fe032e876acb908441'),
 ObjectId('62e562fe032e876acb908434'),
 ObjectId('62e562ff032e876acb9087b0'),
 ObjectId('62e562fe032e876acb9083ad'),
 ObjectId('62e562fe032e876acb908519'),
 ObjectId('62e562ff032e876acb908606'),
 ObjectId('62e562fe032e876acb908431'),
 ObjectId('62e562ff032e876acb9085d0'),
 ObjectId('62e562fe032e876acb9084e5'),
 ObjectId('62e562fe032e876acb908400'),
 ObjectId('62e562ff032e876acb9085ad'),
 ObjectId('62e562ff032e876acb908708'),
 ObjectId('62e562fe032e876acb908538'),
 ObjectId('62e562fe032e876acb90830e'),
 ObjectId('62e562ff032e876acb908573'),
 ObjectId('62e562ff032e876acb908553'),
 ObjectId('62e562fe032e876acb908520'),
 ObjectId('62e562fe032e876acb908496'),
 ObjectId('62e562ff032e876acb908610'),
 ObjectId('62e562fe032e876acb908286'),
 ObjectId('62e562fe032e876acb90831e'),
 ObjectId('62e562fe032e876acb9083f9'),
 ObjectId('62e562ff032e876acb908776'),
 ObjectId('62e562fe032e876acb90817f'),
 ObjectId('62e562fe032e876acb9082f4'),
 ObjectId('62e562ff032e876acb90861b'),
 ObjectId('62e562ff032e876acb9085ca'),
 ObjectId('62e562fe032e876acb90842d'),
 ObjectId('62e562ff032e876acb9086e2'),
 ObjectId('62e562ff032e876acb90888a'),
 ObjectId('62e562fe032e876acb908443'),
 ObjectId('62e562ff032e876acb90873c'),
 ObjectId('62e562ff032e876acb9087a8'),
 ObjectId('62e562ff032e876acb908681'),
 ObjectId('62e562ff032e876acb90855f'),
 ObjectId('62e562ff032e876acb908736'),
 ObjectId('62e562fe032e876acb908459'),
 ObjectId('62e562ff032e876acb90863e'),
 ObjectId('62e562fe032e876acb9081a1'),
 ObjectId('62e562fe032e876acb90850e'),
 ObjectId('62e562ff032e876acb9085d5'),
 ObjectId('62e562fe032e876acb90817b'),
 ObjectId('62e562fe032e876acb908416'),
 ObjectId('62e562ff032e876acb908726'),
 ObjectId('62e562fe032e876acb9083bb'),
 ObjectId('62e562ff032e876acb90884a'),
 ObjectId('62e562fe032e876acb9084f0'),
 ObjectId('62e562ff032e876acb9085b5'),
 ObjectId('62e562fe032e876acb908468'),
 ObjectId('62e562ff032e876acb908873'),
 ObjectId('62e562fe032e876acb90853e'),
 ObjectId('62e562ff032e876acb9088e8'),
 ObjectId('62e562ff032e876acb908898'),
 ObjectId('62e562ff032e876acb90875d'),
 ObjectId('62e562fe032e876acb9081d9'),
 ObjectId('62e562fe032e876acb908261'),
 ObjectId('62e562fe032e876acb908275'),
 ObjectId('62e562fe032e876acb908448'),
 ObjectId('62e562ff032e876acb90873c'),
 ObjectId('62e562ff032e876acb9088d0'),
 ObjectId('62e562fe032e876acb908230'),
 ObjectId('62e562fe032e876acb9084eb'),
 ObjectId('62e562ff032e876acb9085ba'),
 ObjectId('62e562ff032e876acb9086dc'),
 ObjectId('62e562fe032e876acb9081fe'),
 ObjectId('62e562ff032e876acb908897'),
 ObjectId('62e562fe032e876acb9084a0'),
 ObjectId('62e562ff032e876acb90861b'),
 ObjectId('62e562fe032e876acb90823f'),
 ObjectId('62e562ff032e876acb908677'),
 ObjectId('62e562fe032e876acb9083eb'),
 ObjectId('62e562fe032e876acb908263'),
 ObjectId('62e562ff032e876acb908911'),
 ObjectId('62e562fe032e876acb908476'),
 ObjectId('62e562ff032e876acb90857f'),
 ObjectId('62e562fe032e876acb9082ee'),
 ObjectId('62e562ff032e876acb908677'),
 ObjectId('62e562fe032e876acb908195'),
 ObjectId('62e562ff032e876acb90859e'),
 ObjectId('62e562fe032e876acb908206'),
 ObjectId('62e562ff032e876acb9088fc'),
 ObjectId('62e562fe032e876acb9081ef'),
 ObjectId('62e562fe032e876acb9082ea'),
 ObjectId('62e562fe032e876acb9082da'),
 ObjectId('62e562fe032e876acb9084d5'),
 ObjectId('62e562fe032e876acb9083bc'),
 ObjectId('62e562fe032e876acb90822b'),
 ObjectId('62e562ff032e876acb90871d'),
 ObjectId('62e562fe032e876acb908397'),
 ObjectId('62e562ff032e876acb90884a'),
 ObjectId('62e562fe032e876acb9081f1'),
 ObjectId('62e562ff032e876acb908855'),
 ObjectId('62e562fe032e876acb9083d6'),
 ObjectId('62e562fe032e876acb9084d5'),
 ObjectId('62e562ff032e876acb9087c4'),
 ObjectId('62e562ff032e876acb90865c'),
 ObjectId('62e562ff032e876acb9087aa'),
 ObjectId('62e562fe032e876acb908374'),
 ObjectId('62e562ff032e876acb908572'),
 ObjectId('62e562ff032e876acb908866'),
 ObjectId('62e562ff032e876acb9086b1'),
 ObjectId('62e562ff032e876acb9086be'),
 ObjectId('62e562fe032e876acb90822a'),
 ObjectId('62e562ff032e876acb90890f'),
 ObjectId('62e562ff032e876acb908580'),
 ObjectId('62e562ff032e876acb90876a'),
 ObjectId('62e562fe032e876acb9082a9'),
 ObjectId('62e562fe032e876acb9083aa'),
 ObjectId('62e562ff032e876acb908846'),
 ObjectId('62e562fe032e876acb90821b'),
 ObjectId('62e562ff032e876acb90889f'),
 ObjectId('62e562ff032e876acb9088ad'),
 ObjectId('62e562ff032e876acb908572'),
 ObjectId('62e562ff032e876acb9085a9'),
 ObjectId('62e562fe032e876acb908253'),
 ObjectId('62e562ff032e876acb9085fb'),
 ObjectId('62e562fe032e876acb9084b2'),
 ObjectId('62e562ff032e876acb9085fa'),
 ObjectId('62e562ff032e876acb90885b'),
 ObjectId('62e562fe032e876acb908209'),
 ObjectId('62e562fe032e876acb908229'),
 ObjectId('62e562fe032e876acb9083eb'),
 ObjectId('62e562ff032e876acb9088b7'),
 ObjectId('62e562fe032e876acb9084f1'),
 ObjectId('62e562fe032e876acb9083ce'),
 ObjectId('62e562fe032e876acb908540'),
 ObjectId('62e562ff032e876acb9088f3'),
 ObjectId('62e562fe032e876acb908465'),
 ObjectId('62e562fe032e876acb9081ad'),
 ObjectId('62e562ff032e876acb9087ef'),
 ObjectId('62e562ff032e876acb9086da'),
 ObjectId('62e562fe032e876acb908329'),
 ObjectId('62e562ff032e876acb9088a9'),
 ObjectId('62e562fe032e876acb908535'),
 ObjectId('62e562ff032e876acb9087ab'),
 ObjectId('62e562fe032e876acb9084f7'),
 ObjectId('62e562ff032e876acb908931'),
 ObjectId('62e562fe032e876acb9081db'),
 ObjectId('62e562fe032e876acb9082df'),
 ObjectId('62e562ff032e876acb90884a'),
 ObjectId('62e562fe032e876acb90836a'),
 ObjectId('62e562fe032e876acb908283'),
 ObjectId('62e562fe032e876acb9084c2'),
 ObjectId('62e562fe032e876acb908501'),
 ObjectId('62e562fe032e876acb9081ed'),
 ObjectId('62e562ff032e876acb908740'),
 ObjectId('62e562ff032e876acb908892'),
 ObjectId('62e562fe032e876acb9083c3'),
 ObjectId('62e562fe032e876acb908469'),
 ObjectId('62e562fe032e876acb908397'),
 ObjectId('62e562ff032e876acb9085e8'),
 ObjectId('62e562ff032e876acb9087de'),
 ObjectId('62e562fe032e876acb908535'),
 ObjectId('62e562ff032e876acb9085ad'),
 ObjectId('62e562fe032e876acb908417'),
 ObjectId('62e562ff032e876acb90892c'),
 ObjectId('62e562ff032e876acb90879c'),
 ObjectId('62e562fe032e876acb908286'),
 ObjectId('62e562ff032e876acb908602'),
 ObjectId('62e562ff032e876acb908687'),
 ObjectId('62e562ff032e876acb9087c7'),
 ObjectId('62e562fe032e876acb9082c2'),
 ObjectId('62e562ff032e876acb9087af'),
 ObjectId('62e562fe032e876acb90835c'),
 ObjectId('62e562ff032e876acb9087d2'),
 ObjectId('62e562fe032e876acb908222'),
 ObjectId('62e562ff032e876acb9085bd'),
 ObjectId('62e562ff032e876acb908674'),
 ObjectId('62e562ff032e876acb90891b'),
 ObjectId('62e562ff032e876acb908882'),
 ObjectId('62e562fe032e876acb9083ee'),
 ObjectId('62e562fe032e876acb90819d'),
 ObjectId('62e562fe032e876acb9082e9'),
 ObjectId('62e562fe032e876acb9084ad'),
 ObjectId('62e562fe032e876acb908309'),
 ObjectId('62e562ff032e876acb908905'),
 ObjectId('62e562ff032e876acb908842'),
 ObjectId('62e562fe032e876acb908486'),
 ObjectId('62e562fe032e876acb9081fa'),
 ObjectId('62e562ff032e876acb9087fe'),
 ObjectId('62e562ff032e876acb908592'),
 ObjectId('62e562ff032e876acb9085a7'),
 ObjectId('62e562ff032e876acb9085b7'),
 ObjectId('62e562ff032e876acb9087c6'),
 ObjectId('62e562ff032e876acb908798'),
 ObjectId('62e562fe032e876acb908468'),
 ObjectId('62e562fe032e876acb9081a0'),
 ObjectId('62e562ff032e876acb90865f'),
 ObjectId('62e562ff032e876acb908656'),
 ObjectId('62e562ff032e876acb9085f7'),
 ObjectId('62e562fe032e876acb908176'),
 ObjectId('62e562ff032e876acb908719'),
 ObjectId('62e562fe032e876acb90819f'),
 ObjectId('62e562ff032e876acb9088cc'),
 ObjectId('62e562ff032e876acb9085bf'),
 ObjectId('62e562fe032e876acb90837c'),
 ObjectId('62e562ff032e876acb9085c7'),
 ObjectId('62e562fe032e876acb908292'),
 ObjectId('62e562ff032e876acb9087ba'),
 ObjectId('62e562ff032e876acb90892e'),
 ObjectId('62e562ff032e876acb90870c'),
 ObjectId('62e562ff032e876acb9085d2'),
 ObjectId('62e562ff032e876acb908638'),
 ObjectId('62e562ff032e876acb908927'),
 ObjectId('62e562ff032e876acb908787'),
 ObjectId('62e562ff032e876acb90857b'),
 ObjectId('62e562fe032e876acb90826a'),
 ObjectId('62e562ff032e876acb9086b1'),
 ObjectId('62e562fe032e876acb908218'),
 ObjectId('62e562fe032e876acb9084d9'),
 ObjectId('62e562fe032e876acb90823b'),
 ObjectId('62e562ff032e876acb908737'),
 ObjectId('62e562ff032e876acb9086ad'),
 ObjectId('62e562fe032e876acb90834e'),
 ObjectId('62e562ff032e876acb9086ba'),
 ObjectId('62e562ff032e876acb9088bc'),
 ObjectId('62e562ff032e876acb908923'),
 ObjectId('62e562fe032e876acb9081ae'),
 ObjectId('62e562ff032e876acb908813'),
 ObjectId('62e562fe032e876acb90830f'),
 ObjectId('62e562fe032e876acb90845f'),
 ObjectId('62e562ff032e876acb908631'),
 ObjectId('62e562ff032e876acb90863a'),
 ObjectId('62e562ff032e876acb9086d1'),
 ObjectId('62e562fe032e876acb908400'),
 ObjectId('62e562fe032e876acb9084e0'),
 ObjectId('62e562ff032e876acb908839'),

In [372]:
# 3. crear dataframe vacio
df_encuesta_marketing= pd.DataFrame()


for id_usuario in lista_encuestados_id:
    fecha_aleat= fecha_aleatoria(fecha_hace_n_anios(1), datetime.now())  #se usaron las funciones creadas al principio

    valores_es_socio=['si','no']
    cuota_socios= ['anual', 'semestral']  #%50 cada
    cuota= ['anual', 'semestral','mensual','mensual']  #25% anual, 25% semestral, 50% "mensual"

    porcentaje = np.random.randint(100)

    if porcentaje < 30:     #30%socios actuales
        es_socio= 'si'
        gustaria_socio='n/a'
        tipo_cuota= np.random.choice(cuota_socios)
    else:
        es_socio= "no"
        porcentaje = np.random.randint(100)
        if porcentaje <40:           # 40% de los encuestados les gustaría ser socio y la cuota aleatoria 25anual :25 semestral :50 mensual
            gustaria_socio='si'
            tipo_cuota=np.random.choice(cuota)
        else:
            gustaria_socio= 'no'
            tipo_cuota= 'n/a'

    nueva_fila= {'id_usuario':id_usuario, 'es_socio': es_socio, 'gustaria_socio':gustaria_socio, 'tipo_cuota': tipo_cuota,'createdAt': fecha_aleat, 'updateAt':fecha_aleat}
    df_encuesta_marketing= df_encuesta_marketing.append(nueva_fila, ignore_index= True)  #creando una fila de la tabla entera

df_encuesta_marketing   #1200(60%) encuestados aprox porque la lista inicial 2000

,id_usuario,es_socio,gustaria_socio,tipo_cuota,createdAt,updateAt
0,62e562ff032e876acb9086f9,no,si,mensual,2021-10-05T17:59:34.129422,2021-10-05T17:59:34.129422
1,62e562fe032e876acb90846e,no,si,semestral,2021-12-25T14:56:46.234392,2021-12-25T14:56:46.234392
2,62e562ff032e876acb9087f3,no,si,mensual,2022-05-21T17:59:33.055514,2022-05-21T17:59:33.055514
3,62e562ff032e876acb90862f,si,n/a,semestral,2022-04-01T06:53:17.953257,2022-04-01T06:53:17.953257
4,62e562ff032e876acb908660,no,no,n/a,2022-07-29T22:03:41.390545,2022-07-29T22:03:41.390545
...,...,...,...,...,...,...
1195,62e562fe032e876acb908313,si,n/a,anual,2021-09-25T15:23:07.598386,2021-09-25T15:23:07.598386
1196,62e562fe032e876acb9084b9,no,no,n/a,2021-09-12T14:17:14.361195,2021-09-12T14:17:14.361195
1197,62e562fe032e876acb90835b,no,si,mensual,2022-05-06T23:34:55.496836,2022-05-06T23:34:55.496836
1198,62e562ff032e876acb908617,si,n/a,anual,2022-02-09T06:31:14.032317,2022-02-09T06:31:14.032317
1199,62e562fe032e876acb908421,si,n/a,semestral,2022-05-10T11:10:06.371384,2022-05-10T11:10:06.371384

In [373]:
#Guardar CSV
#df_encuesta_marketing.to_csv('df_encuesta_marketing.csv', index= False)